{{!-- 콘텐츠 부분만 만들면 됨, 제목과 메시지 표시 --}}
{{!-- <h2>{{title}}</h2>
<p>{{message}}</p> --}}

<h1>{{title}}</h1>

{{!-- 검색어 영역 --}}
<input type="text" name="search" id="search" value="{{search}}" size="50"
placeholder="검색어 입력" />
{{!-- <button>검색</button> --}}
{{!-- 버튼 클릭 시 search 변수에 검색어 데이터를 담아서 서버로 보냄 --}}
<button onclick="location.href=`/?search=${document.getElementById('search').value}`">검색</button>
<br>

{{!-- 글쓰기 페이지 이동 링크 --}}
<a href="/write"> 글쓰기</a>

{{!-- 글 목록 --}}
<div>
    <table>
        <thead>
            <tr>
                <th witdh="50%">제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>등록일</th>
            </tr>
        </thead>
        <tbody> {{!--게시글 데이터 표시--}}
            {{#each posts}}
            <tr>
                <td><a href="/detail/{{_id}}">{{title}}</a></td> {{!--상세 페이지 링크--}}
                <td>{{writer}}</td>
                <td>{{hits}}</td>
                <td>{{dataString createDt}}</td> {{!--dataString 헬퍼 함수--}}
            </tr>
            {{/each}}            
            {{!-- <tr> --}}
                {{!-- <td><a href="/detail/">타이틀</a></td>
                <td align="center">작성자 이름</td>
                <td align="center">99999</td>
                <td align="center">2022.12.25</td> --}}
            {{!-- </tr> --}}
        </tbody>
    </table>
</div>

{{!-- 페이징 영역 --}}
<div>
    {{!-- <a>&lt;&lt;</a>
    <a>&lt;</a>
    <a>1</a>
    <a>2</a>
    <a>3</a>
    <a>4</a>
    <a>&gt;</a>
    <a>&gt;&gt;</a> --}}
    {{#with paginator}} {{!--with 내장 함수 사용--}}
    {{!-- root 서버의 원본 참조 시 사용 --}}
    <a href="/?page=1&search={{@root.search}}">&lt;&lt;</a>
    {{#if hasPrev}}
    <a href="/?page={{prevPage}}&search={{@root.search}}">&lt;</a>
    {{!-- 1페이지의 경우 이전 페이지가 없으므로 링크가 없음 --}}
    {{else}}
    <a>&lt;</a>
    {{/if}}
    {{#each pageList}}
    {{#if (eq . @root.paginator.page)}} {{!--eq 내장 헬퍼 함수--}}
    <a>{{.}}</a>
    {{else}}
    <a href="/?page={{.}}&search={{@root.search}}">{{.}}</a>
    {{/if}}
    {{/each}}
    {{#if hasNext}}
    <a href="/?page={{nextPage}}&search={{@root.search}}">&gt;</a>
    {{!-- 마지막 페이지인 경우 이전 페이지가 없으므로 링크 삭제 --}}
    {{else}}
    <a>&gt;</a>
    {{/if}}
    <a href="/?page={{lastPage}}&search={{@root.search}}">&gt;&gt;</a>
    {{/with}}
</div>